<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496936807797-q13rsaah7319nt1rlbjeidai45cae2lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496936807797-q13rsaah7319nt1rlbjeidai45cae2lp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>496936807797-2uhmei58sonh1rd6nm49e3mb305tq7eh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Xhx1IQHz5hQM7SYIreUCoELHFHwhrtg</string>
	<key>GCM_SENDER_ID</key>
	<string>496936807797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cycleplanet.cycleplanet</string>
	<key>PROJECT_ID</key>
	<string>cycle-planet-292f5</string>
	<key>STORAGE_BUCKET</key>
	<string>cycle-planet-292f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496936807797:ios:a2319afb4aa5bf721eb73c</string>
	<key>DATABASE_URL</key>
	<string>https://cycle-planet-292f5.firebaseio.com</string>
</dict>
</plist>