<!DOCTYPE html>
<html translate="no">
  <head>
    <!-- Primary Meta Tags -->
    <title>Cycle Planet</title>
    <meta name="title" content="Cycle Planet">
    <meta name="description" content="The Bicycle Touring Platform">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://cycleplanet.org/">
    <meta property="og:title" content="Cycle Planet">
    <meta property="og:description" content="The Bicycle Touring Platform">
    <meta property="og:image" content="banner/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://cycleplanet.org/">
    <meta property="twitter:title" content="Cycle Planet">
    <meta property="twitter:description" content="The Bicycle Touring Platform">
    <meta property="twitter:image" content="banner/banner.png">

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src * data: blob: gap://ready file://* 'unsafe-inline' 'unsafe-eval'; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src * gap://ready; style-src * 'unsafe-inline';"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" href="favicon.ico" />

    <link
      rel="apple-touch-icon"
      sizes="152x152"
      type="image/png"
      href="icons/apple-touch-icon.png"
    />
  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.1/gpx.min.js"></script> -->

    <!-- Default Statcounter code for Cycle Planet https://cycleplanet.org/ -->
    <script type="text/javascript">
      var sc_project = 12479073;
      var sc_invisible = 1;
      var sc_security = "bab9fed1";
      var sc_https = 1;
    </script>
    <script
      type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async
    ></script>
    <noscript>
      <div class="statcounter">
        <a title="Web Analytics" href="https://statcounter.com/" target="_blank"
          ><img
            class="statcounter"
            src="https://c.statcounter.com/12479073/0/bab9fed1/1/"
            alt="Web
  Analytics"
        /></a>
      </div>
    </noscript>
    <!-- End of Statcounter Code -->

    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
